<%
	#
	#  new.html.erb
	#  PIM
	#  
	#  Created by Kael Hankins on 2013-02-09.
	#  Copyright 2013 Kael Hankins. All rights reserved.
	#  
	#  Displays the new user page and user creation form
%>

<h1>New User</h1>

<%= render 'form' %>

<%= link_to LANGUAGE.lang['back'], users_path %>
