<div class="page_wrapper">
	
	<div class="header_wrapper">
		<div class="header">Home Page Title!</div>
		<div class="subtitle">Subtitle for Home Page.</div>
	</div>
	
	<div class="content_wrapper">
		Content Goes Here!
	</div>
	
	<div class="footer_wrapper">
		<div class="footer">Footer: This is a RAILS web app in progress.</div>
	</div>	
	
</div>