/*
   pim_admins.css.scss
   PIM
   
   Created by Kael Hankins on 2013-01-17.
   Copyright 2013 Kael Hankins. All rights reserved.
   
   CSS for all pim_admin views
*/

/* Page formatting for floating footer and header */
html,body {
  height:100%; /* For the container min-height */
  background-color:yellow;
}

div.page_wrapper {
  position:relative; /* To allow the footer to push down */
  margin:0 auto; /* Center */
  width:800px;

  height:auto !important; /* 'Real' browsers */
  height:100%; /* IE6 */
  
  min-height:100%;
}

div.header_wrapper {
  height:100px;
    background-color:red;
}

div.posts_wrapper {
  padding:5px;
    background-color:green;
}

div.footer_wrapper {
  position:absolute;
  width:100%;
  height:100px;
  bottom:0; /* Position zero pixels off the bottom */
  background-color:blue;
}

div.header {
  padding-top:10px;
  text-align:center;
  vertical-align:middle;
}

div.subtitle {
  text-align:center;
}

div.footer {
  padding-top:10px;
  text-align:center;
  font-weight:600;
}

/* Individual admin formatting */
div.pim_admin {
	margin-top:25px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
	
	border-bottom:solid;
	border-bottom-width:2px;
}

table#pim_admin_index_table {
	width:100%;
}

tr#pim_admin_index_headerrow th div {
	border:1px solid black;
	background-color:grey;
}

tr.pim_admin_index_adminrow {
	cursor:pointer;
	text-align:center;
	background-color:#bbb;
}

tr.pim_admin_index_adminrow_alt {
	cursor:pointer;
	text-align:center;
	background-color:#ddd;
}